/***弹框***/
.fieldset {
    width: 200px;
    position: relative;
    top: -15px;
    left: -20px;
}

.fieldset a {
    display: block;
    opacity: 0.8;
    position: relative;
;
    z-index: 2;
    width: 182px;
    height: 55px;
    font-size: 0px;
    left: 58px;
    margin-top: 20px;
    background: #0000002e;
}

.fieldset a:hover {
    opacity: 1;
}

.fieldset a:active {
    opacity: 1;
}

.fieldset a:first-child {
    margin-top: 40px;
}

.alert-content {
    overflow: hidden;
}

div.alert-btn-close {
    right: 2px;
}

img.pc,
img.m {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 0;
}

img.pc {
    left: 0px;
}

.serverName {
    position: relative;
}

#register {
    display: none;
    text-align: center;
    margin-top: 30px;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

ol,
ul {
    list-style: none
}

h1,
h2,
h3 {
    font-weight: normal
}

a {
    text-decoration: none;
    outline: none;
    color: #333;
    font-size: 12px;
}

img {
    border: 0px;
}

body {
    font-family: '\5b8b\4f53', Tahoma, Arial, Helvetica, sans-serif, Microsoft YaHei;
    font-size: 12px;
    background-color: #F2F2F2;
}

/*---------顶部导航---------*/
.top_fix {
    width: 100%;
    top: 0px;
    z-index: 9999;
    position: fixed;
    background: #FFF;
}

.top {
    background: url(../images/top_bg.jpg) repeat-x;
    height: 37px;
    margin: 0px 0px 1px 0px;
    line-height: 36px;
    color: #DDD;
}

.top a {
    margin: 0px 6px;
    color: #777;
}

.top_content,
.nav_crl {
    margin: 0px auto;
    width: 980px;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*---------主导航---------*/
.mainnav {
    background: url(../images/nav_bg.jpg) repeat-x bottom;
    height: 84px;
    border-top: 0px;
    width: 100%;
    margin-top: 37px;
    zoom: 1;
}

.mainmenu {
    width: 978px;
    margin: 0px auto;
}

.logo {
    border-right: 1px solid #EBEBEB;
    background: url(../images/logo.png) no-repeat 5px 1px;
    width: 200px;
    text-indent: -9999px;
    display: block;
    height: 80px;
}

.nav {
    float: left;
    height: 84px;
    width: 480px;
    border-left: 1px solid #FFF;
    border-right: 1px solid #EBEBEB;
    overflow: hidden;
    padding: 0px 0px 0px 20px;
}

.nav ul {
    margin: 12px 0px 0px 0px;
}

.nav a {
    font-size: 14px;
    color: #666;
    line-height: 28px;
    margin: 0px 14px 0px 0px;
}

.nav a:hover {
    color: #FF6600;
}

.nav .nav_cat {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.nav_crl {
    background: url(../images/nav_crl.png);
    width: 100%;
    height: 9px;
}

/*---------按钮---------*/
.button {
    position: relative;
    float: left;
    border-left: 1px solid #FFF;
    height: 65px;
    width: 250px;
    padding: 5px 0px 0px 15px;
}

.button li {
    float: left;
    margin: 5px 10px 0px 0px;
    overflow: hidden;
    display: inline;
}

/*---------底部---------*/
.footer {
    width: 100%;
    height: 110px;
    margin: 0px auto;
    padding-top: 0px;
    text-align: center;
    line-height: 20px;
    color: #615c60;
    overflow: hidden;
    clear: both;
}

.footer p {
    height: 22px;
    margin: 0;
}

.footer a {
    color: #333;
    position: relative;
    cursor: pointer;
}

.footer a:hover {
    color: #333;
}

.adFloat {
    position: fixed;
    z-index: 1010;
    top: 50px;
}

.adLocalityLeft {
    left: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.adLocalityRight {
    right: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.adFloat .adCon-Box {
    margin: 3px;
    overflow: hidden;
    min-width: 100px;
    min-height: 70px;
}

.adFloat .actionBar {
    height: 25px;
    padding: 0 5px;
    border-top: 1px solid #ccc;
    background: url(../images/icon_adfloat.png) repeat-x 0 -25px;
}

.adFloat .actionBar a {
    width: 52px;
    height: 19px;
    float: right;
    margin-top: 3px;
    background: url(../images/icon_adfloat.png) no-repeat 0 -60px;
    text-indent: -999px;
    overflow: hidden;
}

.adFloat .actionBar a:hover {
    background-position: -55px -60px;
}

.adFloat a.close {
    background: #fff url(../images/icon_adfloat.png) no-repeat -6px -8px;
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
    text-indent: -999px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.adFloat h2 {
    font-size: 14px;
    font-weight: 800;
    background-color: #cb0000;
    color: #fff;
    line-height: 24px;
    text-indent: 10px;
    margin: 3px 3px 0;
}

.adFloat h3 {
    font-size: 12px;
    font-weight: normal;
    background-color: #f7f7f7;
    color: #666;
    line-height: 30px;
    text-indent: 10px;
    clear: both;
}

.adFloat .adCon-Box .module ul {
    font-size: 0;
    line-height: 0;
}

.adFloat .adCon-Box .module ul li {
    font-size: 12px;
    line-height: 1.5em;
    padding: 2px 4px;
}

.adFloat .adCon-Box .module ul li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: block;
    word-wrap: normal;
}

.adFloat .adCon-Box .module ul p {
    font-size: 12px;
    line-height: 1.5em;
    padding: 2px 4px 0;
}

.adFloat .line {
    border-top: 1px dotted #ccc;
    height: 5px;
    margin-top: 5px;
}

.hot-tag {
    margin: 0 auto;
    padding: 10px 0 0;
}

.hot-tag li {
    float: left;
    padding: 0 5px;
    margin-bottom: 8px;
}

.hot-tag li a {
    display: block;
    padding: 0 5px;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #d3d3d3;
    line-height: 22px;
}

.hot-tag li a:hover {
    background-color: #fff;
    color: #cb0000;
    border-color: #bbb;
}

.hot-tag li.hilite a {
    background-color: #ff7a00;
    color: #fff;
    border-color: #d55e00;
}

.hot-tag li.hilite a:hover {
    background-color: #ff4e00;
    border-color: #c02400;
}

.adshow {
    display: ;
}

.adhidden {
    display: none;
}
