<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="test1"/>
    <meta name="description" content="<p>hjkhjk</p>"/>
    <title>test10-找神途</title>
    <!-- <base href="https://www.zhaost.com/"/> -->
    <base href="127.0.0.1"/>
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="css/newdistrict.css">
    <link rel="stylesheet" href="css/openlist.css">
    <link rel="stylesheet" href="js/alert.css">
    <link rel="stylesheet" type="text/css" href="js/miaov_style.css" />
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <script type="text/javascript" src="js/miaov.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.qrcode.min.js"></script>
    <script>
        var _hmt = _hmt || [];
    </script>
</head>
<body>
    <div class="last-content">
        <div class="top_fix">
            <div class="top">
                <div class="top_content">
                    <div class="left">
                        |<a href="javascript:void(0)" onclick="SetHome(this,window.location)">设为首页</a>
                        <a href="javascript:void(0)" onclick="AddFavorite(window.location,document.title)">加入收藏</a>|
                        <a href="http://www.173uu.com/business.html" target="_blank"><img src="images/kf.gif"></a>
                    </div>
                    <div class="right">
                        |<a href="list.html" target="_self"><span style="color:#FF3300">火爆人气版本推荐</span></a>
                        <a href="http://serverlist.oss-cn-hangzhou.aliyuncs.com/zhaost/zhaost.exe"    target="_self"><span
                                style="color:#0099ff">添加到桌面图标▼</span><img src="images/new.gif" class="hotpic"></a>|
                    </div>
                </div>
            </div>
        </div>

        <div class="mainnav">
            <div class="mainmenu">
                <div style="float:left; "><a href="list.html" class="logo">找神途</a></div>
                <div class="nav">
                    <div id="div1">
                        <a class="green">1.70复古</a>
                        <a>1.76精品</a>
                        <a>1.76微变</a>
                        <a class="blue">1.76轻变</a>
                        <a>1.76合击</a>
                        <a class="red">1.76复古</a>
                        <a class="purple">1.80王者</a>
                        <a>1.80极品</a>
                        <a>1.80经典</a>
                        <a class="blue">1.80战神</a>
                        <a>1.80合击</a>
                        <a class="blue">1.80迷失</a>
                        <a>1.80疯狂</a>
                        <a>1.80金币</a>
                        <a class="green">1.80绿色</a>
                        <a class="purple">1.85精品</a>
                        <a>1.85散人</a>
                        <a>1.85王者合击</a>
                        <a class="green">1.95神龙合击</a>
                        <a>1.95合击</a>
                        <a>1.95金牛无内功</a>
                        <a class="purple">涿鹿中原</a>
                        <a>1.85战神</a>
                        <a class="red">1.80嘟嘟</a>
                        <a class="green">1.80沉默</a>
                        <a>1.85仙剑</a>
                        <a class="blue">1.76蓝月</a>
                        <a class="green">1.76原始</a>
                        <a class="blue">1.70梁山</a>
                        <a class="green">1.70丽江</a>
                        <a class="red">1.85执着</a>
                        <a class="red">1.85灭世</a>
                        <a>80合击</a>
                        <a>1.70</a>
                        <a>1.76</a>
                        <a>1.80</a>
                        <a>1.85</a>
                        <a>1.95</a>
                    </div>
                </div>
                <div class="button">
                    <a href="javascript:;"
                       onclick="StarGmae(this,'https://serverlist.oss-cn-hangzhou.aliyuncs.com/shentuol/shentuol.exe','true','http://h5.173uu.com/','true','universal')"
                       style="margin-bottom:50px;"><img src="images/list4_stfb.jpg" onclick="_czc.push(['_trackEvent',  '点击', '弹出万能登录器下载对话框', '万能登录器','5','dianji']);" style="margin-left:32px;"></a>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        function StarGmae(dom, pcurl, murl, h5url, sywndlq,source) {//开始游戏
            if(source=="start"){
                var action='下载端游';
                var label='端游';
                var H5action='打开H5游戏页面';
                var H5label='H5游戏';
                _czc.push(['_trackEvent',  '点击', '弹出下载对话框', '开始游戏','5','dianji']);
            }else{
                var action='下载万能登录器-端游';
                var label='万能登录器-端游';
                var H5action='打开H5万能登录页面';
                var H5label='万能登录器-H5';

            }


            var html = '';
            var height = '';
            var i = 0;
            if (pcurl && murl || murl && h5url || pcurl && h5url) {
                var M = {};
                if (pcurl) {
                    html += "<a class='dy' href='" + pcurl + "' onclick=\"_czc.push(['_trackEvent',  '下载', '"+action+"', '"+label+"','5','xiazai']);\"><img src='images/pcd.png' alt=''></a>";
                    i++;
                }
                if (murl) {
                    i++;
                    if (sywndlq) {
                        html += "<a class='sy' href='javascript:;' onclick='register(this)'><img src='images/syd.png' alt=''></a>";
                    } else {
                        html += "<a class='sy' target='_blank' href='" + murl + "' onclick=\"_czc.push(['_trackEvent',  '下载', '下载手游', '手游','5','xiazai']);\"><img src='images/syd.png' alt=''></a>";
                    }
                }
                if (h5url) {
                    html += "<a class='h5' target='_blank' href='" + h5url + "' onclick=\"_czc.push(['_trackEvent',  '打开', '"+H5action+"', '"+H5label+"','5','打开']);\"><img src='images/h5d.png' alt=''></a>";
                    i++;
                }
                //M.dialog6.close()
                var html = "<div class='fieldset'>" + html + "</div>";
                M.dialog6 = jqueryAlert({
                    'title': '',
                    'style': 'pc',
                    //'content' :  "<div class='fieldset'><a class='dy' href='"+dom.getAttribute('tarurl')+"'>端游</a><a class='sy' href='"+dom.getAttribute('tarurl')+"'>手游</a><img src='images/tk.png' border='0'/></div>",
                    'content': html,
                    'width': '300px',
                    'height': i === 3 ? '280px' : '200px',
                    'modal': true,
                    'buttons': {
                        '关闭': function () { },
                    }
                })
                M.dialog6.show();
                $('.alert-btn-close').html('×');
                $('.alert-btn-box').html('');
            } else if (murl) {
                //window.open(dom.getAttribute('tarurl'))
                window.open(murl)
                M.dialog.close()
            } else {
                window.location.href = pcurl;
                //window.location.href=dom.getAttribute('tarurl');
                M.dialog.close()
            }
        }

        function register(value) {
            _czc.push(['_trackEvent',  '下载', '下载万能登录器-手游', '万能登录器-手游','5','xiazai']);
            var url = value.url;
            var rid = parseInt(Math.random() * 100000) + '';
            value.parentElement.innerHTML = "<div style='margin-top:60px;margin-left:76px;' id='" + rid + "'></div></br><div style='position: relative;top: -10px;left: 50px;font-size: 16px;'>打开微信，扫一扫</div>";
            $('#' + rid).qrcode({
                render: "canvas", // 渲染方式有table方式和canvas方式
                width: 150,   //默认宽度
                height: 150, //默认高度
                text: "https://www.zhaost.com/sydlq/", //二维码内容
            });

        }
    </script>

    <div class="list-content" id="list-content" v-cloak>
        <!-- list nav -->
        <div class="bl-nav">
            <span class="home {active_index}">
                <a href="list.html" onclick="_hmt.push(['_trackEvent', '点击', '打开新闻首页', '首页']);">
                首页
                <img src="img/icon_plane.png" alt="" srcset="">
                </a>    
            </span>

            <span class="active">
                <a href="list_new_articles.html" onclick="_hmt.push(['_trackEvent', '点击', '跳转最新咨询', '最新资讯']);">
                    最新资讯
                </a>
            </span>

            <span class="">
                <a href="list_game_evaluation.html" onclick="_hmt.push(['_trackEvent', '点击', '跳转游戏评测', '游戏评测']);">
                    游戏评测
                </a>
            </span>

            <span class="">
                <a href="list_game_data.html" onclick="_hmt.push(['_trackEvent', '点击', '跳转游戏资料', '游戏资料']);">
                    游戏资料
                </a>
            </span>

            <span class="">
                <a href="list_player_att.html" onclick="_hmt.push(['_trackEvent', '点击', '跳转玩家关注', '玩家关注']);">
                	玩家关注
                </a>
            </span>
        </div>

        <!-- bread nav -->
        <div class="bread">
            <span>您现在的位置：</span>
            <span>找神途&emsp;>&emsp; <a href="list_new_articles.html">最新资讯</a> &emsp;>&emsp;正文</span>
        </div>

        <div class="con-box">
            <div class="atricles-con">
                <div class="article-list-con">
                    <div class="article-list">
                       <h1 class="new-title">test10-找神途</h1>
                       <p class="new-info">
                        发布时间：2020-03-09&emsp;&emsp;信息来源：神途官网
                       </p>
                       <div class="new-content">
                        <p>hjkhjk</p>
                       </div>
                       
                       <div class="gotozhaost">
                           最全最好的神途版本，尽在
                           <a href="http://www.zhaost.com">www.zhaost.com</a>
                        </div>
                        
                        <div class="page-box">
        <div class="near-news">
            <p>
            <span>上一篇：</span>
            <a href="./new_articles_86.html">test15</a>
        </p>
            <p>
            <span>下一篇：</span>
            <a href="./new_articles_100.html">test29</a>
        </p>
        </div>
        <a class="gotolist" href="list_new_articles.html">返回列表</a>
    </div>
                    </div>
                </div>

                <div class="open-list">
                    <div class="tab-box">
                        <div class="tabs">
                            <p class="active">最新开区</p>
                            <p>明日开区</p>
                            <p>经典老区</p>
                        </div>
                        <p class="more-open-list">
                            <a href="list.html" onclick="_hmt.push(['_trackEvent', '打开', '打开更多精彩版本（底）', '更多精彩版本']);">
                                <span>更多精彩版本</span>
                                <img src="img/icon_more_red.png" alt="" srcset="">
                            </a>    
                        </p>
                    </div>
                    <div class="open-list-table">
                        <table>
                            <thead>
                                <td>游戏名称</td>
                                <td>服务器名</td>
                                <td>开服时间</td>
                                <td>版本介绍</td>
                                <td>开始游戏</td>
                                <td>游戏网站</td>
                            </thead>
                            <tbody>
                                <tr v-for="(zone,index) in lastzones">
                                    <td>{{zone['groupname']}}</td>
                                    <td>{{zone['gamename']}}</td>
                                    <td>{{zone['addtime']}}</td>
                                    <td>{{zone['gamedesc']}}</td>
                                    <td><span class="start-game" @click="startGame(this,zone['pcurl'],zone['gameweb'],zone['h5url'],false,'lastzones')">开始游戏</span></td>
                                    <td>
                                        <span class="comein-game">
                                            <a :href="zone['gameweb']" target="_blank" onclick="_hmt.push(['_trackEvent', '打开', '打开代理网站【最新开区】', '点击进入']);">点击进入</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="open-list-table">
                        <table>
                            <thead>
                                <td>游戏名称</td>
                                <td>服务器名</td>
                                <td>开服时间</td>
                                <td>版本介绍</td>
                                <td>开始游戏</td>
                                <td>游戏网站</td>
                            </thead>
                            <tbody>
                                <tr v-for="(zone,index) in temorrowzones">
                                    <td>{{zone['groupname']}}</td>
                                    <td>{{zone['gamename']}}</td>
                                    <td>{{zone['addtime']}}</td>
                                    <td>{{zone['gamedesc']}}</td>
                                    <td><span class="start-game" @click="startGame(this,zone['pcurl'],zone['gameweb'],zone['h5url'],false,'temorrowzones')">开始游戏</span></td>
                                    <td>
                                        <span class="comein-game">
                                            <a :href="zone['gameweb']" target="_blank" onclick="_hmt.push(['_trackEvent', '打开', '打开代理网站【明日开区】', '点击进入']);">点击进入</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="open-list-table">
                        <table>
                            <thead>
                                <td>游戏名称</td>
                                <td>服务器名</td>
                                <td>开服时间</td>
                                <td>版本介绍</td>
                                <td>开始游戏</td>
                                <td>游戏网站</td>
                            </thead>
                            <tbody>
                                <tr v-for="(zone,index) in classiczones">
                                    <td>{{zone['groupname']}}</td>
                                    <td>{{zone['gamename']}}</td>
                                    <td>{{zone['addtime']}}</td>
                                    <td>{{zone['gamedesc']}}</td>
                                    <td><span class="start-game" @click="startGame(this,zone['pcurl'],zone['gameweb'],zone['h5url'],false,'classiczones')">开始游戏</span></td>
                                    <td>
                                        <span class="comein-game">
                                            <a :href="zone['gameweb']" target="_blank" onclick="_hmt.push(['_trackEvent', '打开', '打开代理网站【经典老区】', '点击进入']);">点击进入</a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="more-open-list-btn">
                        <a href="list.html" onclick="_hmt.push(['_trackEvent', '打开', '打开更多新区等你来战', '更多新区等你来战']);">
                            <img src="img/icon_active.png" alt="">
                            <span>更多新区，等你来战！</span>
                        </a>
                    </div>
                </div>
            </div>
			
            <div class="new-district">
                <div class="district-tit">
                    <span class="tit">新区推荐</span>
                    <p @click="nextpage" v-if="changeNewState">
                       <img src="./img/icon_new.png" alt="" srcset="">
                       <span>换一批</span>
                    </p>
                </div>
                <transition name='newzone'>
                    <div v-show="show">
                        <div class="district-item" v-for="(zone,index) in showzones">
                            <div class="district-item-tit">
                                <p>
                                    {{zone['groupname']}}
                                </p>
                                <span>{{zone['addtime']}}点火爆开服</span>
                                <img src="./img/icon_hot.gif" alt="" srcset="">
                            </div>
                            <div class="district-item-desc">
                                <div class="desc-box">
                                    {{zone['gamedesc']}}
                                </div>
                                <span class="btn-start" @click="startGame(this,zone['pcurl'],zone['gameweb'],zone['h5url'],false,'right')">开始游戏</span>
                            </div>
                        </div>
                    </div>
                </transition>
                <div class="more-district-btn">
                    <a href="list.html" onclick="_hmt.push(['_trackEvent', '打开', '打开更多精彩版本（右）', '更多精彩版本']);">
                        <span>更多精彩版本</span>
                        <img src="img/icon_arc_more.png" alt="" srcset="">
                    </a>    
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>网络文化经营许可证:浙网文【2015】0337-107号 |
            增值电信业务经营许可证:浙B2-20110064 |
            文网游备字[2011]C-RPG152号 |
            京新出音[2012]86号 ISBN 978-7-89429-043-4</p>
        <p>《互联网文化管理暂行规定》|
            《网络游戏管理暂行办法》|
            浙ICP备11003407号
            本游戏适合18岁以上的玩家进入
            <script>
                document.getElementById("TopAdArea").innerHTML = strTopAd;

                function getParams() {
                    var URLParams = new Object();
                    var aParams = document.location.search.substr(1).split('&');
                    for (i = 0; i < aParams.length; i++) {
                        var aParam = aParams[i].split('=');
                        URLParams[aParam[0]] = aParam[1];
                    }
                    return URLParams;
                }

                var ret = getParams();
                var shentu_subname = "list";

                if (typeof (ret['pid']) != "undefined" && ret['pid'] != "")
                    shentu_subname = "list." + ret['pid'];

                tid = 14856;

                if (location.href.indexOf('wg.zhaost.com') != -1) {
                    tid = 14856;
                    shentu_subname = "wg.zhaost"
                }

                if (document.referrer == "") {
                    tid = 14856;
                    if (shentu_subname == "list") shentu_subname = "zhaost.list";

                    if (location.href.indexOf('www.zhaost.com') != -1) {
                        if (parseInt(ret['tid']) > 0) //吴斌一起玩神途新渠道测试
                        {
                            tid = ret['tid'];
                            shentu_subname = "zhaost";
                        }
                    }
                }
                else if (document.referrer.indexOf('zhaost.com') != -1) {
                    tid = 14856;
                    shentu_subname = "zhaost"
                }
                else if (document.referrer.indexOf('www.st123.com') != -1) {
                    tid = 14856;
                    shentu_subname = "st123"
                }
                else if (document.referrer.indexOf('baidu.com') != -1) {
                    tid = 14856;
                    shentu_subname = "baidu"

                    if (typeof (ret['pid']) != "undefined" && ret['pid'] != "")
                        shentu_subname += "." + ret['pid'];
                }
                else if (document.referrer.indexOf('173uu.com') != -1 || document.referrer.indexOf('shentuol.com') != -1) {
                    tid = 14856;
                    shentu_subname = "173uu"
                }
                else if (document.referrer.indexOf('zhaosf.com') != -1 || document.referrer.indexOf('88pk.com') != -1 || document.referrer.indexOf('555wcj.com') != -1 || document.referrer.indexOf('dwq123.com') != -1 || document.referrer.indexOf('81f.com') != -1 || document.referrer.indexOf('pk123.com') != -1 || document.referrer.indexOf('dux8.com') != -1 || document.referrer.indexOf('sf805.com') != -1 || document.referrer.indexOf('926.com') != -1 || document.referrer.indexOf('9pk.com') != -1 || document.referrer.indexOf('8uu.com') != -1 || document.referrer.indexOf('99j.com') != -1 || document.referrer.indexOf('66sf.com') != -1 || document.referrer.indexOf('10ok.com') != -1 || document.referrer.indexOf('500sf.com') != -1 || document.referrer.indexOf('777uc.com') != -1 || document.referrer.indexOf('ahxp168.com') != -1 || document.referrer.indexOf('jjj.com') != -1) {
                    tid = 14856;
                    shentu_subname = "hifbz"
                }
                else {
                    if (location.href.indexOf('www.zhaost.com') != -1) {
                        if (parseInt(ret['tid']) > 0) //吴斌一起玩神途新渠道测试
                        {
                            tid = ret['tid'];
                            shentu_subname = "zhaost";
                        }
                    }
                }


                subname = shentu_subname;
                document.write("<scri" + "pt charset=\"gb2312\" language=\"javascript\" src=\"https://stat.173uu.com/browsecount.do?tid=" + tid + "&subname=" + escape(subname) + "&referer=" + escape(document.referrer) + "\"></" + "script>");
            </script>
            <script type="text/javascript" src="https://update-sl2.173uu.com/stat.php?OpenType=1&gid=2"></script>
            <script>
                var source = 0;
                if (window.location.hostname.indexOf('tg.3shentu.com') != -1) source = 8;
                else if (window.location.hostname.indexOf('bdtg.hzyotoy.com') != -1) source = 1;
                else if (window.location.hostname.indexOf('tg.st7000.com') != -1) source = 2;
                else if (window.location.hostname.indexOf('tg.3198m.net') != -1) source = 7;
                else if (window.location.hostname.indexOf('tg.st7070.com') != -1) source = 10;
                var SS_TID = 2;
                document.write("<scri" + "pt charset=\"gb2312\" language=\"javascript\" src=\"https://statad.hzyotoy.com/statall.php?AdID=2" + "&Source=" + source + "&Param2=" + SS_TID + "&Param1=" + escape(subname) + "&referer=" + escape(document.referrer) + "\"></" + "script>");
            </script>

            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1260575931'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260575931%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        </p>
        <p>CopyRight &copy; 2009-2013 杭州蜗牛网络科技有限公司, All rights reserved. 地址：杭州东方电子商务园15幢5楼505室 联系电话：0571-56010090
            <!--a href="aboutus.html" target="_blank">公司介绍</a> | <a href="contactus.html" target="_blank">联系我们</a-->
        </p>
    </div>
	
    <script src="js/vue.min.js"></script>
    <script src="js/alert.min.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/tab.js"></script>
    <script src="js/api.js"></script>
    <script type="text/javascript" src="js/data.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?ca88f81ef448407218dabf1c349718b9";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>