<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".txt" allowed="false" />
                    <add fileExtension=".zip" allowed="false" />
                </fileExtensions>
                <hiddenSegments>
                    <add segment="logs" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
